/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import '~angular-notifier/styles';

html, body {
    margin: 0; height: 100%;
    font-family: 'Rubik';
    background-color: #3a3a3a;
}